/* common area */
body, h3, div{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
p{
    font-family: 'Poppins', sans-serif;
}
#main-area{
    width: 100%;
    background-color: #2D25A0;
}
.main{
    width: 85%;
    margin: 0 auto;
}
.header-area{
    display: flex;
}
.main .left-header{
    width: 80%;
}
.main .left-header ul{
    list-style: none;
    padding: 0;
}
.left-header ul li{
    display: inline-block;
    padding-right: 30px;
}

.left-header ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: white;
    
}
.right-header{
    width: 20%;
    text-align: right;
    margin: auto 0;
}
.right-header .btn{
    padding: 10px 24px 10px 24px;
    background-color: #E02C6D;
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    border: none;
}
.fa, .fas {
    font-weight: 900;
    margin-left: 6px;
}


.slide-area{
    display: flex;
    padding: 50px 0;
}
.left-slide{
    width: 50%;
    margin: auto 0;
}
.left-slide h1{
    font-size: 64px;
    color: white;
    line-height: 80px;
    padding: 0;
    margin: 0;
}
.left-slide button{
    padding: 10px 24px 10px 24px;
    background-color: #E02C6D;
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    border: none;
}







.right-slide{
    width: 50%;
}
.right-slide img{
    width: 100%;
}
                    /* start top-blog */

#top-blog{
    width: 100%;
    padding: 20px 0;
}
#top-blog .blogs{
    width: 85%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
}
.blog img{
    width: 100%;
}
.blogs .blog{
    width: 320px;
    background-color: white;
    box-shadow: 0px 1px 4px 3px rgba(116, 115, 115, 0.411);
    padding: 10px;
    margin: 15px;
    border-radius: 5px;
}
                    /* end top-blog */

#highlights-area{
    width: 100%;
    background-color: white;
}
.highlight{
    width: 85%;
    display: flex;
    margin: 0 auto;
    padding: 30px 0;
}
.highlight .left-area{
    width: 50%;
    margin: auto 0;
}
.highlight .left-area h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}
.highlight .left-area p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.highlight .right-area{
    width: 50%;
}
.highlight .right-area img{
    width: 100%;
}
